{% extends 'base.html' %}


{% block app_content %}
    <h1>{{ _('Sign In') }}</h1>
    <form action="" class="login-form" method="post" novalidate="">
            {{ form.hidden_tag() }}
            {{ form.username.label }}
            {{ form.username() }}
            {{ form.password.label }}
            {{ form.password() }}
            <div>{{ form.remember_me() }} {{ form.remember_me.label }} </div>
            {{ form.submit() }}
    </form>
    <br>
    <div class=go-to-reg>
      <p >{{ _('New User?') }} <a href="{{ url_for('auth.register') }}">{{ _('Click to Register!') }}</a></p>
      <p>
        {{ _('Forgot Your Password?') }}
        <a href="{{ url_for('auth.reset_password_request') }}">{{ _('Click to Reset It') }}</a>
      </p>
    </div>
{% endblock %}
