

.pager{
	display: flex; 
	flex-direction: row; 
	justify-content: space-between; 
	list-style-type: none;
}

.button{
	width: 30px;
	margin: 20px;
}

.navbar{
	position: fixed;
	z-index: 9999;
	top:0;
	left:0; 
	right:0;
	height: 80px; 
	width:100%; 
	background:#F5CB5C; 
	font-weight: bold; 
}


a{
	color: #333533;
	text-decoration: none;
}


.navbar-collapse{
	margin:2em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navbar-brand-img{
 	position: relative;
 	left: 5px;
 	top: 5px;
 }

.navbar-li>a{
	color: #333533;
}

.navbar-li>a:hover{
	color: #242423;
	font-size: 130%;
	text-decoration:underline;
}


#logo-image{
	width: 150px;
	margin-top: -20px;
	text-decoration: none;
}

#logo-image:hover{
	width: 180px;
	text-decoration: none;
}

.search-field{
    border-color: #CED4DA;
}

h1{
    color:#F5CB5C;
    font-weight: bold;

}


div.fixed-sm-bottom{
	background:#F5CB5C;
	color: #242423;
	margin-top: 4em;
	padding-top: 12px;
	padding-bottom:100px;

}

#submit{
	background: #F5CB5C;
	border-radius:10px;
}

#submit:hover{
	background: #EFDC9E;
	border-radius:10px;

}

div.content{
	padding-top:5em;
	position:relative;
	margin-left: auto;
    margin-right: auto;
    width: 70%;

}

div.container{
	display: flex;
    flex-direction: row;
}

div.post-title-block{
	margin: 1em
}

div.section-timestamp{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 14px;
	margin-bottom:3px;
	margin-left: auto;
	margin-right: auto;
}

div.section{
	color: #242423;
	padding-left: 15px;
	width: 70%;
	background: #F5CB5C;
	padding: 3px;
	border-radius:5px 0px 0px 5px;
}

div.timestamp{
	background:#242423;
	padding: 3px;
	color: #F5CB5C;
	border-radius:0px 5px 5px 0px;
	width: 30%
}	

div.image-discription{
	background: #CFDBD5;
	border-radius: 20px;
	height: 150px;
	width: 400px;
	display: flex;
	flex-direction: row;
}

div.image-discription:hover{
	background: #F5CB5C;
	border-radius: 20px;
	height: 150px;
	width: 400px;
	display: flex;
	flex-direction: row;
}

div.post_title-post_discription{
	height: 150px;
	width: 250px;
	font-size: 16px;
	padding-left:7px;
}

h4.featurette-heading{
    color:#F5CB5C;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
}


img.featurette-image{
	border-radius: 0px 20px 20px 0px;
	width: 150px;
	height: 150px;
	display: flex;
	align-content: right;
}

.in-form{
	display: flex;
	flex-direction: column;
	color:#F5CB5C;
}


.post-column{
	display:flex; 
	flex-direction:column;

}

.selected-posts-panel{

	margin-left: auto;
	margin-right: auto;
	background:#F5CB5C; 
	margin-top: 10%;
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 95%;
	border-radius:20px 20px 20px 20px;

}

.selected-post{
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 4px;
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
    background: #242423;
	display: flex;
	flex-direction: column;
	width: 10em;
}

.selected-post:hover{
	border-radius: none;
	margin-bottom: 4px;
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
    background: #242423;
	display: flex;
	flex-direction: column;
	width: 12em;

}

.selected-post-image{
	width: 100%;
	border-radius:10px 10px 10px 10px
}

.selected-post-section{
	font-size:8px;
	color:#242423;
	margin-right: auto;
	margin-left: auto; 
}

.selected-post-title{
	color: #E8EDDF;
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
}

.selected-post-title>a{
	color: #E8EDDF;
}

.title-end-discription-block-h1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.discription-this-page-inborder{
	color: #F5CB5C;
	width: 30em;
	display: flex;
	flex-wrap: wrap;
	border: 6px double #F5CB5C;
	text-decoration:none; 
	border-radius: 10px;
	background: #242423;

}

.discription-this-page-inborder:hover{
	color: #242423;
	background: #F5CB5C; 
	width: 30em;
	display: flex;
	flex-wrap: wrap;
	border: 6px double #242423;
	text-decoration:none; 
	border-radius: 10px;
	margin-left: auto;
	font-size: 20px;

}

.index-post-display{
	display: flex;
	flex-direction: column;
}

.index-post-list{
	display: flex; 
	flex-direction:row;
	flex-wrap: wrap;
}


.in-post-image{
	border-radius:10px 10px 10px 10px;
}

.post-body{
	width: 100%;
	color: #F5CB5C;
	border: 6px double #F5CB5C;
	border-radius: 10px;
	background: #242423;
	display: flex;
	flex-wrap: wrap; 
}

.post-text{
	padding: 12px;
}

.comments{
	margin-top: 2em;
	width: 100%;
	border-radius:10px 10px 10px 10px;
	border: 6px double #F5CB5C;
	background: #242423;
	color: #F5CB5C;

}
 

.discription-page{
	position: relative;
	right: 0;
}

.information-section{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 2em;
	margin-bottom:2em;
	margin-right:auto;
	margin-left:auto;
	flex-basis:100%;
}

.application-content{
	width: 100%;
}

.comments-form{
	display: flex;
	flex-direction: column;
	padding: 12px;
}

.comments-list{
	padding: 12px
}

.comment-table{
	background:  #CFDBD5;
	border-radius: 10px;
	color: #242423;
	border: 3px solid #F5CB5C;
}

.avatar-in-comments{
	height: 120px;
	width: 120px;
	border-radius:10px 10px 10px 10px;
	border: 3px solid #F5CB5C;
}

.comment-avatar{
	padding:15px;
	background:#242423; 
	border-right: 3px solid #F5CB5C;
	border-radius: 10px 0px 0px 10px;
	color: #E8EDDF;
}

.comment-avatar>h4{
	color: #E8EDDF;
	margin-left: auto;
	margin-right: auto;
}
.comment-body{
	padding: 4px;
	width:100%;
}

.usr-information-in-comments{
	font-size: 15px;
	padding: 13px;
	border-radius: 10px 10px 10px 10px;
	color: #242423;
	background: #E8EDDF;
	border: 3px solid #F5CB5C;

}

.comment-is-made-at{
	display: flex;
	flex-direction: row;
	width: 90%
	margin-left:auto;
	margin-right:auto;
	justify-content: space-between;
	background: #E8EDDF;
	padding: 3px;
	border-radius:5px;
	text-transform: bold;
}

.com-comment{
	margin-top:6px;
	padding:3px;
	justify-content: space-between;
	border: 1px solid #333533;
	border-radius: 10px 10px 10px 10px;
}

.editable_pole{
	border-radius: 10px 10px 10px 10px;
	background-color: #E8EDDF;
}

.like-button{
	width: 72px;
	font-size:15px;
	color: #333533;;
	border:none;
	border-radius: 10px;
	font-style: italic;
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
	margin:8px;
}

.like-button:hover{
	width: 72px;
	font-size:15px;
	color: #F5CB5C;
	border:none;
	border-radius: 10px;
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
	margin:8px;
}


.likes-table{	
	color: #333533;
	display: flex;
	flex-direction: row;
	width: 97%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 15px;
	justify-content: space-between;
	padding: 3px;
	border-radius:5px;
	text-transform: bold;
	position: relative;
	bottom: 1px;
	background: #E8EDDF;
}

.login-form{
	display: flex;
	flex-direction: column;
	width: 20em;
}

.go-to-reg{
	background: #EFDC9E;
	border-radius:5px;
	border: 3px solid #F5CB5C;
	width: 20em;
	margin-top: 4em;
	margin-bottom: 4em;
}

.user_table_in_user_page{
	margin-bottom: 8em;
	display: flex;
	flex-direction: row;
	background: #333533;
	color: #F5CB5C;
	border: 3px solid #F5CB5C;
	border-radius:10px;
}


.avatar-in-user-page{
	margin-bottom: 2em;
    margin-top: 2em;
	margin-left: 2em;
	margin-right: 5em;
	border: 3px solid #F5CB5C;
	border-radius:10px;

}

.user-information-in-usertable a{
	color: #F5CB5C;
}

a.user-page-button{
	font-color: #242423;
	background: #F5CB5C;
	margin: 20px;
	border-radius:15px;
	padding: 7px;
	font-weight:bold;
	border: 3px solid #242423;
}

a.user-page-button-disabled{
	font-color: #333533;
	background: #242423;
	margin: 20px;
	border-radius:15px;
	padding: 7px;
	font-weight:bold;
	border: 3px solid #333533;
}

a.user-page-button:hover{
	background: #242423;
	margin: 20px;
	border-radius:15px;
	padding: 7px;
	font-weight:bold;
	color: #F5CB5C;
	border: 3px solid #F5CB5C;
}

a.next-disabled{
	font-color:#CFDBD5;
}

a.previous-disabled{
	font-color:#CFDBD5;color:#CFDBD5;

}

.user_page_in_user_page{
	margin-bottom: 8em;
	display: flex;
	flex-direction: column;
	background: #333533;
	color: #F5CB5C;
	border: 3px solid #F5CB5C;
	border-radius:10px;
	padding: 15px;
}


.post-inf{

	padding-left: 4em;
}

.micro-icon{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 3px solid #F5CB5C;
	margin-left: 1em;
}


.information-posts{
	display: flex;
	flex-direction: row;
	align-items: : right;
	margin-top: -1em;
	margin-right: -2em;

}

.information-posts-text{
	color: #F5CB5C;
	text-decoration: underline bold;
	text-align: center;
	padding-top: 2px;
}

.information-posts>div{
	display: flex;
	flex-direction: row;
}