

.pager{
	display: flex; 
	flex-direction: row; 
	justify-content: space-between; 
	list-style-type: none;
}

.button{
	width: 30px;
	margin: 20px;
}

.navbar{
	position: fixed;
	z-index: 9999;
	top:0;
	left:0; 
	right:0;
	height: 80px; 
	width:100%; 
	background:#F5CB5C; 
	font-weight: bold; 
}


a{
	color: #333533;
	text-decoration: none;
}




.navbar-collapse{
	margin:2em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navbar-brand-img{
 	position: relative;
 	left: 5px;
 	top: 5px;
 }

.navbar-li>a{
	color: #333533;
}

.navbar-li>a:hover{
	color: #242423;
	font-size: 130%;
	text-decoration:underline;
}


#logo-image{
	width: 150px;
	margin-top: -20px;
	text-decoration: none;
}

#logo-image:hover{
	width: 180px;
	text-decoration: none;
}

.search-field{
    border-color: #CED4DA;
}

h1{
    color:#F5CB5C;
    font-weight: bold;

}


div.fixed-sm-bottom{
	background:#F5CB5C;
	color: #242423;
	padding-top: 12px;
	padding-bottom:100px;

}

div.content{
	padding-top:5em;
	position:relative;
	margin-left: auto;
    margin-right: auto;
    width: 70%;

}

div.container{
	display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

div.post-title-block{
	margin:10px
}

div.section-timestamp{
	background: #F5CB5C;
	color: #F4F3EE;
	font-size: 10px;
	border-radius:3px 3px 3px 3px;
	margin-bottom:3px;
}

div.section{
	color: #242423;
	margin-left: 15px;
}

div.timestamp{
	background:#463F3A;
}

div.image-discription{
	background: #CFDBD5;
	border-radius: 20px;
	height: 150px;
	width: 400px;
	display: flex;
	flex-direction: row;
}

div.image-discription:hover{
	background: #F5CB5C;
	border-radius: 20px;
	height: 150px;
	width: 400px;
	display: flex;
	flex-direction: row;
}

div.post_title-post_discription{
	height: 150px;
	width: 250px;
	font-size: 16px;
	padding-left:7px;
}

h4.featurette-heading{
    color:#242423;
    margin-top: 5px;
    margin-bottom: 5px;
}

img.featurette-image{
	border-radius: 0px 20px 20px 0px;
	width: 150px;
	height: 150px;
	display: flex;
	align-content: right;
}

.in-form{
	display: flex;
	flex-direction: column;
	color:#F5CB5C;
}

.index-post-list{
	display:flex; 
	flex-direction:column;
}

.post-column{
	display:flex; 
	flex-direction:column;

}

.selected-posts-panel{

	margin-left: auto;
	margin-right: auto;
	background:#F5CB5C; 
	margin-top: 10%;
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	opacity: 0.8;
	width: 95%;
	border-radius:20px 20px 20px 20px;

}

.selected-post{
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 4px;
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
    background: #242423;
	display: flex;
	flex-direction: column;
	width: 8em;
}

.selected-post:hover{
	border-radius: none;
	margin-bottom: 4px;
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
    background: #242423;
	display: flex;
	flex-direction: column;
	width: 12em;

}

.selected-post-image{
	width: 100%;
	border-radius:10px 10px 10px 10px
}

.selected-post-section{
	font-size:8px;
	color:#F5CB5C;
	margin-right: auto;
	margin-left: auto; 
}

.selected-post-title>a{
	color: #CFDBD5;
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
}

.title-end-discription-block-h1{
	display: flex;
	flex-direction: row;
}

.discription-this-page-inborder{
	color: #F5CB5C;
	width: 30em;
	display: flex;
	flex-wrap: wrap;
	border: 6px double #F5CB5C;
	text-decoration:none; 
	border-radius: 10px;
	margin-left: auto;
	background: #242423;

}

.discription-this-page-inborder:hover{
	color: #242423;
	background: #F5CB5C; 
	width: 30em;
	display: flex;
	flex-wrap: wrap;
	border: 6px double #242423;
	text-decoration:none; 
	border-radius: 10px;
	margin-left: auto;
	font-size: 20px;

}

.index-post-list{
	display: flex; 
	flex-direction:row;
}

.control-pager>a{
	color:#F5CB5C; 
	border: 6px double #F5CB5C; 
	text-decoration:none; 
	border-radius: 10px;
}