                    
                      <div class="container comment-table">
                        <div class="post-column comment-avatar">
                          {% set user = User.query.filter_by(id=comment.user_id).first() %}
                          <a href={{ url_for("main.user", username=user.username) }}>
                            <img class="avatar-in-comments" align="right" data-src="holder.js/500x500/auto" alt="90x90" src="{{ User.query.filter_by(id=comment.user_id).first().avatar(120) }}" data-holder-rendered="true" title="{{ User.query.filter_by(id=comment.user_id).first().status }}">
                            <h4 class="featurette-heading">
                                <b title="{{ User.query.filter_by(id=comment.user_id).first().status }}">{{ user.username }}.</b>
                            </h4>
                                <br>
                                <div class="usr-information-in-comments" id="usr-inf-1" title="{{ User.query.filter_by(id=comment.user_id).first().status }}">
                                    <b>Registration:</b><br>
                                    {{ moment(user.registration_time).format('LL') }}<br>
                                    {% if user.last_seen %}
                                      <b>Last seen:</b><br>
                                      <div>{{ moment(user.last_seen).fromNow() }}</div>
                                    {% endif %}
                                </div>
                          </a>
                        </div>
                        <div class="comment-body">
                            <div class="comment-is-made-at" id="cooment-time">
                              
                              <div class="first-column">Comment is made at:</div>
                              <div class="last-column">
                                {{ moment(user.registration_time).format('LLL') }}
                              </div>
                                
                            </div>
                            <div class="com-comment">

                             {{ render_html(comment.body) | safe }}
                            </div>
                            <div class="likes-table">
                              <div class="likes-display">
                                  {% if user.this_comments_disliked(comment) %}
                                     You <b>don't</b> like this comment 
                                  {% else %}
                                      This comment like {% if user.this_comments_liked(comment) %} 
                                                      <b>you and </b>{{ comment.coin_likes()-1 }}
                                                    {% else %} 
                                                      {{ comment.coin_likes()}}
                                                    {% endif %}
                                                     user{% if comment.coin_likes()-1%10!=1  %}s{% endif %} 
                                 {% endif %}
                              </div>
                              <div class="container">
                                <div  class="like-form">
                                  {{ comment.coin_likes() }} <a class="like-button" href="{{ url_for('main.like_comment', comment_id=comment.id, post_id=post.id) }}"> ▲ like </a>
                                </div>
                                <div  class="like-form">
                                  {{ comment.coin_dislikes() }} <a class="like-button" href="{{ url_for('main.dislike_comment', comment_id=comment.id, post_id=post.id) }}"> ▼ dislike </a>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
               