O{% extends "base.html" %}

{% block app_content %}m
	 <div class="user_table_in_user_page table table-hover">
        <img class="avatar-in-user-page" src="{{ user.avatar(256) }}">
        <div>
          <div class="user-information-in-usertable">
            <h1>{{ user.username }}</h1>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            <p>{{ _('Registration') }}: {{ moment(user.registration_time).format('LLL') }}</p>
            {% if user.last_seen %}
              <p>{{ _('Last seen on') }}: {{ moment(user.last_seen).format('LLL') }}</p>
            {% endif %}
            {% if user.status %}
 			  {{ user.username+" wants to say: " }} <b>{{ user.status }}</b>
 			{% endif %}
 			<p>{{ _('Reputation') }}:{{ user.reputation() }}</p>
 		  </div>
        </div>
    </div>
    <div class="user_page_in_user_page">
    <h1>{{ title }}</h1>
    {% for message in messages %}
        <h2> {{ message.title }} </h2>
            <div class="container comment-table">
                <div class="post-column comment-avatar">
                    {% set user = User.query.filter_by(id=message.sender_id).first() %}
                    <a href={{ url_for("main.dialog_by", user_id=user.id) }}>
                        <img class="avatar-in-comments" align="right" data-src="holder.js/500x500/auto" alt="90x90" src="{{ User.query.filter_by(id=message.sender_id).first().avatar(120) }}" data-holder-rendered="true" title="{{ User.query.filter_by(id=message.sender_id).first().status }}">
                        <h4 class="featurette-heading">
                            <b title="{{ User.query.filter_by(id=message.sender_id).first().status }}">{{ user.username }}.</b>
                        </h4>
                        <br>
                        <div class="usr-information-in-comments" id="usr-inf-1" title="{{ User.query.filter_by(id=message.sender_id).first().status }}">
                            <b>Registration:</b><br>
                            {{ moment(user.registration_time).format('LL') }}
                            <br>
                            {% if user.last_seen %}
                                <b>Last seen:</b><br>
                                <div>{{ moment(user.last_seen).fromNow() }}</div>
                            {% endif %}
                        </div>
                    </a>
                </div>
                    <div class="comment-body">
                        <div class="comment-is-made-at" id="comment-time">
                              
                            <div class="first-column">message is made at:</div>
                                <div class="last-column">
                                    {{ moment(user.registration_time).format('LLL') }}
                                </div>
                                
                            </div>
                            <div class="com-message">
                                {{ render_html(message.body) | safe }}
                            </div>
                        </div>
                </div>

    {% endfor %}

        
            <h1><u>{{ _('Send New Message to %(recipient)s:', recipient=user.username) }}</u></h1>
   
        <form action="" method="post" class="comments-form" id="comments-form" novalidate>
            {{ form.hidden_tag() }}
            {{ form.title.label }}
            {{ form.title(size=100) }}
            {{ form.message.label }}
            {{ form.message(size=100, rows=8, class="editable_pole") }}
            <div class="subtitle-with-txt-forme">
                <i>
                    {{ _('* This form supports') }}
                    <a class="a-yelow" href='https://pluszzblog.herokuapp.com/post/6'>
                        {{ _('bbcode') }}
                    </a>
                </i>
            </div>
            {% for error in form.message.errors %}
            <span class="discription-this-page-inborder">[{{ error }}]</span>
            {% endfor %}
            <div class="button">
              {{ form.submit() }}
            </div>
        </form>

    </div>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer messages') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older messages') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    </div>

{% endblock %}