                    <div class="col-md-5" id="post-{{ post.id }}" style="margin:10px;">               
                    <div class="col-md-10" id="section-timestamp " style="background: #8B432D;color:#F4F3EE;font-size:10px;border-radius: 3px 3px 3px 3px;">
                                <div class="col-md-5" id="section">
                                    {{ post.section }}
                                </div>
                                <div class="col-md-5" id="timestamp" align="right" style="background:#463f3a;">
                                    {{ moment(post.timestamp).fromNow() }}
                                </div>
                    </div>
                    <br>  
                    <div class="row" style="background:#CFDBD5;
                                border-radius: 20px; height:150;  display: flex;flex-direction:row;" >
                 
                    <div class="row "align="left" style="height:150px; width:290px; font-size:14px;">

                            <h4 class="featurette-heading" align="left" style="color:#8B432D; position:static;top:3px;">            
                                    <a href="{{ url_for('main.post', post_id=post.id) }}" style="padding-left:7px; color:242423;">{{ post.title }}.</a>
                            </h4>
                            <div style="padding-left:7px;">
                                {{ post.description }}
                            </div>
                        </div>
        
                        <div class="post-title-image" id="title_image{{ post.id }}"
                            align="right">
                            <img class="featurette-image img-responsive center-block" align="right"S alt="500x500" src="{{ post.title_image}}" data-holder-rendered="true" style="border-radius: 0px 20px 20px 0px; width: 150px; height: 150px; align-content:left;">
                        </div>
                    </div>
                </div>

  
                 