{% extends 'bootstrap/base.html' %}

{% block html %}
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='favikon.png') }}" >
    
    <title>
      {% if title %}
        {{ title }} - PluszzBlog
      {% else %}
        PluszzBlog
      {% endif %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css', v=3.512) }}">

  </head>

  <body class="static-background" style="background: url({{url_for('static', filename='background.jpg')}}); width:100%; height:100%; background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat
    background-size: cover;
    font-family: Nimbus Sans Narrow,'Droid Sans', monospace;
    font-style: italic;
    font-color:#0A1128;">

      <nav class="navbar" id="navbar">
        <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="navbar-li navbar-brand-img">
              <a class="navbar-brand" href="{{ url_for('main.blog') }}">
                <img id="logo-image" src="{{ url_for('static', filename='logo.png') }}">
              </a>
          </div>
          <div class="navbar-li blog-link navbar-menu" id="blog-link">
              <a href="{{ url_for('main.section') }}">
                 {{ _("Sections")}}
              </a>
          </div>
          <div class="navbar-li my_projects navbar-menu" id="my_projects">
              <a href="{{ url_for('main.projects') }}">
                 {{ _("My Projects") }}
              </a>
          </div>
          <div class="navbar-li about navbar-menu" id="about">
              <a href="{{ url_for('main.about') }}">
                 {{ _("About") }}
              </a>
          </div>
          <div class="navbar-li cooperation navbar-menu" id="cooperation">
              <a href="{{ url_for('main.cooperation') }}">
                 {{ _("Cooperation") }}
              </a>
          </div>
          <div class="navbar-li search-field " id="search">
              <input type="search" name="q" placeholder="Search"> 
          </div>
            {% if not current_user.is_anonymous %}
          <div class="navbar-li current_user navbar-menu" id="current_user">
                <a href="{{ url_for('main.user', username=current_user.username) }}">
                   {{ current_user.username }}
                </a>
                        </div>
            {% endif %}

          <div class="navbar-li  login-logout" id="login-logout" align="right">
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('auth.login') }}">
                    {{ _('Login') }}</a>
                {% else %}
                     <a href="{{ url_for('auth.logout') }}">
                    {{ _('Logout') }}</a>
                {% endif %}
          </div>
        </div>
      </nav>
      <div class="selected-posts-panel" id="selected-posts-panel">
        {% for post in selected_posts %}
          <div class="selected-post" id="selected_post-{{ post.id}}">
            <div class="selected-post-section">
              <b>{{ post.section }}</b>
            </div>
            <div class="selected-post-img" id="selected_post_img-{{ post.id }}">
              <a href="{{ url_for('main.post', post_id=post.id) }}">
                <img src="{{ post.title_image }}" class="selected-post-image">
              </a>
            </div>  
            <div class="selected-post-title">
              <a href="{{ url_for('main.post', post_id=post.id) }}">
                <b>{{ post.title }}</b></a>            
            </div>
          </div>
           
        {% endfor %}
      </div>






      <div class="content">
        <div>
            {% with messages = get_flashed_messages() %}
            <br>
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
        <div class="container">
          <div class="application-content" id="application-content">
            {# application content needs to be provided in the app_content block #}
            {% block app_content %}{% endblock %}
          </div>
        </div>
          <div>
            <div class="fixed-sm-bottom">
              <br>
              <p align="center">{{ _('Contacts for cooperation: ') }}<a href="mailto:pluszz@gmail.com">pluszz@gmail.com</a></p>
              <p align="center">© 2021 Pluszz</p>
            </div>
          </div>
        </div>
      </div>
   

 
    <script type="text/javascript">
      {{ super() }}
      {{ moment.include_jquery() }}
      {{ moment.include_moment() }}
      {{ moment.lang(g.locale) }}
    </script>

  </body>

{% endblock html %}