<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='favikon.png') }}" >
    
    <title>
      {% if title %}
        {{ title }} - PluszzBlog
      {% else %}
        PluszzBlog
      {% endif %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css', v=2.285) }}">

  </head>

  <body>
    <div class="static-background" style="background: url({{url_for('static', filename='background.jpg')}}); width:100%; height:100%; background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">

      <nav class="navbar" id="navbar">
        <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            
            <li class="navbar-li navbar-brand-img">
              <a class="navbar-brand" href="{{ url_for('main.index') }}">
                <img id="logo-image" src="{{ url_for('static', filename='logo.png') }}">
              </a>
            </li>
            <li class="navbar-li blog-link navbar-menu" id="blog-link">
              <a href="{{ url_for('main.index') }}">
                 {{ _("Blog")}}
              </a>
            </li>
            <li class="navbar-li my_projects navbar-menu" id="my_projects">
              <a href="{{ url_for('main.index') }}">
                 {{ _("My Projects") }}
              </a>
            </li>
            <li class="navbar-li about navbar-menu" id="about">
              <a href="{{ url_for('main.index') }}">
                 {{ _("About") }}
              </a>
            </li>
            <li class="navbar-li cooperation navbar-menu" id="cooperation">
              <a href="{{ url_for('main.index') }}">
                 {{ _("Cooperation") }}
              </a>
            </li>
            <li class="navbar-li search-field " id="search">
              <input type="search" name="q" placeholder="Search"> 
            </li>
            {% if not current_user.is_anonymous %}
            <li class="navbar-li current_user navbar-menu" id="current_user">
                <a href="{{ url_for('main.index') }}">
                   {{ current_user.username }}
                </a>
            {% endif %}
            </li>
            <li class="navbar-li  login-logout" id="login-logout" align="right">
              <a href="
                {% if current_user.is_anonymous %}
                    {{ url_for('auth.login') }}">
                    {{ _('Login') }}
                {% else %}
                    {{ url_for('auth.logout') }}">
                    {{ _('Logout') }}
                {% endif %}
              </a>
            </li>

          </ul>
        </div>
      </nav>



      <div class="content">
        <div>
          <h1>{{ title }}</h1>
          {% with messages = get_flashed_messages() %}
            <br>
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
        <div class="container">
          <div class="application-content" id="application-content">
            {# application content needs to be provided in the app_content block #}
            {% block app_content %}{% endblock %}
          </div>
        </div>
          <div>
            <div class="fixed-sm-bottom">
              <br>
              <p align="center">{{ _('Contacts for cooperation: ') }}<a href="mailto:pluszz@gmail.com">pluszz@gmail.com</a></p>
              <p align="center">© 2021 Pluszz</p>
            </div>
          </div>
        </div>
      </div>
   

 
    <script type="text/javascript">
      {{ moment.include_moment() }}
      {{ moment.lang(g.locale) }}
    </script>

  </body>


</html>
