{% extends "base.html" %}


{% block app_content %}
					<div class="title-end-discription-block-h1">
                      <h1>PluszzBlog</h1>
                      <div class="discription-this-page-inborder">
                        {{ _('This is the main page of this blog. Here 
                              you can see a list of all posts without 
                              division into sections. Thank you for visiting me.') }}
                      </div>
                    </div>
                    <br>
			                 
                    <div class="index-post-form">
                        {% if user.role %}
                            <form action="" method="post" class="in-form" novalidate>
                              {{ form.hidden_tag() }}
                              {{ form.post_title.label }}
                              {{ form.post_title(size=100) }}
                              {% for error in form.post_title.errors %}
                                <span class="discription-this-page-inborder">[{{ error }}]</span>
                              {% endfor %}
                              {{ form.post_section.label }}
                              {{ form.post_section(size=100) }}
                              {% for error in form.post_section.errors %}
                                <span class="discription-this-page-inborder">[{{ error }}]</span>
                              {% endfor %}
                              {{ form.description.label }}
                              {{ form.description(size=100) }}
                              {% for error in form.description.errors %}
                                <span class="discription-this-page-inborder">[{{ error }}]</span>
                              {% endfor %}
                              {{ form.post.label }}
                              {{ form.post(rows='20')}}
                              {% for error in form.post.errors %}
                                <span class="discription-this-page-inborder">[{{ error }}]</span>
                              {% endfor %}
                              {{ form.title_image.label }} 
                              {{ form.title_image(size=100)}}
                              {% for error in form.title_image.errors %}
                                <span class="discription-this-page-inborder">[{{ error }}]</span>
                              {% endfor %}                            
                              <br>
                              <div class="index-post-button button" id="index-post-button">
                               {{ form.submit() }}
                              </div>
                            </form> 
                        {% endif %}
                    </div>
            	    <div class="index-post-list">

            			
						<div class="index-column-left-post-list post-column"> 

						  {% for post in posts1 %}
        					{% include '_post.html' %}
    					  {% endfor %}
    					</div>
                        <div class="index-column-right-post-list post-column"> 

                          {% for post in posts2 %}
                            {% include '_post.html' %}
                          {% endfor %}
                        </div>
                    </div>
   					<ul class="index-pager pager" id="index-pager">
            			<li class="previous{% if not prev_url %} disabled{% endif %} control-pager">
			                <a href="{{ prev_url or '#' }}"S>
			                    <span aria-hidden="true" ">&larr;</span> {{ _('Newer posts') }}
               				</a>
           			    </li>
            			<li class="next{% if not next_url %} disabled{% endif %} control-pager">
                			<a href="{{ next_url or '#' }}">
                    			{{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                			</a>
            			</li>
        			</ul>
                    <br>
                    <br>
                    <br>
        			

{% endblock %}