{% extends "base.html" %}

{% block app_content %}

	<div class="title-end-discription-block-h1">
        <h1>{{ title }}</h1>
        <div class="discription-this-page-inborder discription-page post-text">
            {{ post.description }}
        </div>
    </div>
    <div class="information-section">
	  <div class="post-body"  id="post_body">
	  	<div class="post-text">
			<span id="post{{ post.id }}">{{ post.body | safe }}</span>
			<div class="likes-table">
			  <div class="likes-display">
                {% if current_user.is_authenticated and user.this_post_disliked(post) %}
                  You <b>don't</b> like this post 
                {% else %}
                  This post like {% if current_user.is_authenticated and  user.this_post_liked(post) %} 
                                    <b>you and </b>{{ post.coin_likes()-1 }}
                                 {% else %} 
                                    {{ post.coin_likes()}}
                                 {% endif %}
                                    user{% if post.coin_likes()-1%10!=1  %}s{% endif %} 
                                 {% endif %}
             </div>
            
               <div class="container">
                 <div  class="like-form">
                   {{ post.coin_likes() }} <a class="like-button" href="{{ url_for('main.like_post', post_id=post.id) }}"> ▲ like </a>
                 </div>
                 <div  class="like-form">
                   {{ post.coin_dislikes() }} <a class="like-button" href="{{ url_for('main.dislike_post', post_id=post.id) }}"> ▼ dislike </a>
                 </div>
               </div>
		</div>
		 {% if current_user.username=='pluszz' %}
		    <br>
		    {% if post.selected_posts==True %}
             <a class="user-page-button" href="{{ url_for('main.unselect_post', post_id = post.id) }}">{{ _('Unselect Post') }}</a>
            {% else %}
             <a class="user-page-button" href="{{ url_for('main.select_post', post_id = post.id) }}">{{ _('Select Post') }}</a>
            {% endif %}
            {% if post.hidden_post==True %}
             <a class="user-page-button" href="{{ url_for('main.unhidde_post', post_id = post.id) }}">{{ _('Unhidden Post') }}</a>
            {% else %}
             <a class="user-page-button" href="{{ url_for('main.hidde_post', post_id = post.id) }}">{{ _('Hidden Post') }}</a>
            {% endif %}
              <a class="user-page-button" href="{{ url_for('main.delete_post', post_id = post.id) }}">{{ _('Delete Post') }}</a>
              <a class="user-page-button" href="{{ url_for('main.edit_post', post_id = post.id) }}">{{ _('Edit Post') }}</a>
            <br>
 		 {% endif %}
        </div>
	  </div>
	</div>

	  <div class="comments" id="comments">
		{% if current_user.is_authenticated %}
			<form action="" method="post" class="comments-form" id="comments-form" novalidate>
				{{ form.hidden_tag() }}
				{{ form.comment.label }}
				{{ form.comment(rows=8, class="editable_pole") }}
				<div class="subtitle-with-txt-forme">
            		<i>
            			{{ _('* This form supports') }}
            		 	<a class="a-yelow" href=''>
           			 	    {{ _('bbcode') }}
        			 	</a>
           			</i>
           		</div>
				{% for error in form.comment.errors %}
					<span class="discription-this-page-inborder">[{{ error }}]</span>
				{% endfor %}
				<div class="button">
					{{ form.submit() }}
				</div>
				
			</form>
		{% endif %}

		<div class="comments-list">
		  {% for comment in comments.items %}
			{% include '_comment.html' %}
			<br>
			<br>
		  {% endfor %}
		  <div class="index-pager pager" id="index-pager">
			  <a class="user-page-button{% if next_url==None %}-disabled{% endif %}" href="{{ prev_url or '#' }}"S>
			    <span aria-hidden="true" ">&larr;</span> {{ _('Newer comments') }}
              </a>
              <a class="user-page-button{% if next_url==None %}-disabled{% endif %}" href="{{ next_url or '#' }}">
                 {{ _('Older comments') }} <span aria-hidden="true">&rarr;</span>
              </a>
          </div>
	    </div>
	  </div>
	</div>
{% endblock %}
